@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Space Regular';
        src: url('/fonts/SpaceMono-Regular.ttf');
    }
    @font-face {
        font-family: 'Space Bold';
        src: url('/fonts/SpaceMono-Bold.ttf');
    }
}